[Desktop Entry]
Version=1.0
Type=Link
Name=Zoom
Comment=
Icon=video-x-generic
URL=https://us04web.zoom.us/j/5648707839?pwd=eGqsghELAHAIAs0BArrDo4Lk1N0OqN.1
